<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.starkyb.spring.lesson03.dao.RealEstateDAO">
 	<!-- id로 select -->
 	<select id="selectRealEstate" resultType="com.starkyb.spring.lesson03.model.RealEstate"
 	parameterType="int">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			`id` = #{id}
 	</select>
 	<!-- 월세 조건 select -->
 	<select id="selectRentPrice" resultType="com.starkyb.spring.lesson03.model.RealEstate"
 	parameterType="int">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 			<![CDATA[`rentPrice` < #{rent}]]>
 			
 	</select>
 	<!-- 복합조건 select -->
 	<select id="selectAreaPrice" resultType="com.starkyb.spring.lesson03.model.RealEstate"
 	parameterType="int">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`real_estate`
 		WHERE
 		<![CDATA[
 			`area` >= #{area}
 		and
 			`price` <= #{price}
 		]]>
 		ORDER BY
 			`createdAt` DESC
 			
 		
 	</select>
 	<!-- 객체로 insert -->
 	<insert id="insertRealEstateAsObject" parameterType="com.starkyb.spring.lesson03.model.RealEstate">
 		INSERT INTO `real_estate`
 		(
 			`realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `createdAt`
 			, `updatedAt`	
 		) VALUES (
 			#{realtorId}
 			, #{address}
 			, #{area}
 			, #{type}
 			, #{price}
 			, now()
 			, now()
 		)
 	</insert>
 	<!-- field로 insert -->
 	<insert id="insertRealEstate" parameterType="map">
 		INSERT INTO `real_estate`
 		(
 			`realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `createdAt`
 			, `updatedAt`	
 		) VALUES (
 			#{realtorId}
 			, #{address}
 			, #{area}
 			, #{type}
 			, #{price}
 			, now()
 			, now()
 		)
 	</insert>
 </mapper>